<!doctype html>
<html>
<head>
	<meta charset="UTF-8"> 
	<link rel="stylesheet/less" type="text/css" href="stylesheets/style.less" />
	<script src="javascripts/less.min.js"></script>
	<script src="javascripts/angular.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
</head>

<body ng-app='blog' ng-controller='BlogCtrl as blog'>
	<header>
		<h1><a href='/'>Fallflame Blog - 落火博客</a></h1>
		<nav>
			<ul>
				<li><a href='/'>博文列表</a></li>
				<li><a href='#footer'>底部</a></li>
				<li><a href='/about'>关于博主</a></li>
			</ul>
		</nav>
	</header>

	<section>
		<h2>博文列表</h2>
		<ul>
			<li ng-repeat='post in blog.posts'>
				<h3>{{post.title}}
					<small>更新时间: {{post.updatedAt | date: 'medium' }}</small>
				</h3>
				
				<p class='action-on-post'> 
					<a href ng-click='blog.loadPostToUpdateByID(post._id)'>修改</a>
					<a href ng-click='blog.deletePostByID(post._id)'>删除</a>
				</p>

				<p>{{post.content}}</p>
			</li>
		</ul>
		<div class='pagination'>
			<a>&lt;&lt;</a>
			{{blog.page}}
			<a>&gt;&gt;</a>
		</div>
	</section>

	<section>
		<h2>
			<span ng-hide='blog.newPost._id'>新博文</span>
			<span ng-show='blog.newPost._id'>修改博文</span>
		</h2>
		

		<p>
			<label>标题: </label>
			<input type='text' ng-model='blog.newPost.title'/>
		</p>

		<p>
			<label>内容: </label><br/>
			<textarea rows="10" cols="120" ng-model='blog.newPost.content'></textarea>
		</p>

		<p>
			<button ng-hide='blog.newPost._id' ng-click='blog.createNewPost()'>
				发布
			</button>
			<button ng-show='blog.newPost._id' ng-click='blog.updatePostByID(blog.newPost._id)'>
				修改
			</button>
		</p>

	</section>


	<footer id='footer'>
	</footer>

	<script src='javascripts/main.js'></script>
</body>
</html>